cypress/fixtures/Check_manual_node_run_for_pinned_and_rundata.json
{
  "name": "Webhook Pinned & RunData Check",
  "nodes": [
    {
      "parameters": {
        "path": "debug/webhook-check",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [400, 300],
      "webhookId": "debug/webhook-check"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.headers.host }}",
              "rightValue": "localhost:5678",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": false
          }
        }
      },
      "id": "if-check-host",
      "name": "Check Host Header",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "AcceptEncoding",
              "value": "={{ $('Webhook').item.json.headers['accept-encoding'] }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-success",
      "name": "Extract Encoding (OK)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [800, 200]
    },
    {
      "parameters": {},
      "id": "noop-ok",
      "name": "NoOp OK",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "AcceptEncoding",
              "value": "={{ $('Webhook').item.json.headers['accept-encoding'] }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-error",
      "name": "Extract Encoding (Error)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [800, 400]
    },
    {
      "parameters": {},
      "id": "noop-error",
      "name": "NoOp Error",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "content": "If condition fails (header.host != expected), route goes to error branch.\nBoth branches extract `accept-encoding` header for evaluation."
      },
      "id": "note",
      "name": "Comment",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [600, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Host Header",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Host Header": {
      "main": [
        [
          {
            "node": "Extract Encoding (OK)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Encoding (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Encoding (OK)": {
      "main": [
        [
          {
            "node": "NoOp OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Encoding (Error)": {
      "main": [
        [
          {
            "node": "NoOp Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "accept-encoding": "gzip, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {}
        }
      }
    ]
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "snapshot-test-version",
  "id": "pinned-vs-rundata-test",
  "tags": []
}
