cypress/fixtures/Test_workflow_1.json
{
  "id": 3,
  "name": "Test workflow 1",
  "active": false,
  "nodes": [
    {
      "id": "a2f85497-260d-4489-a957-2b7d88e2f33d",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [220, 260],
      "parameters": {}
    },
    {
      "id": "9493d278-1ede-47c9-bedf-92ac3a737c65",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [420, 260],
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      }
    },
    {
      "id": "b1e68f33-57f5-4d14-8e2d-cfd1a8d0b99a",
      "name": "Set Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [620, 260],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "processed"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Set Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Code": [
      {
        "json": {
          "original": true
        }
      }
    ]
  },
  "settings": {},
  "hash": "f607de5dd17b587f5e01d624e1fb3a9e",
  "meta": {
    "instanceId": "a5280676597d00ecd0ea712da7f9cf2ce90174a791a309112731f6e44d162f35"
  },
  "tags": [
    {
      "id": "6",
      "name": "some-tag-1",
      "createdAt": "2022-11-10T13:43:34.001Z",
      "updatedAt": "2022-11-10T13:43:34.001Z"
    },
    {
      "id": "7",
      "name": "some-tag-2",
      "createdAt": "2022-11-10T13:43:39.778Z",
      "updatedAt": "2022-11-10T13:43:39.778Z"
    }
  ]
}
